.form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    width: 100%;
    font-size: 1rem;
  }
  
  

  .container-form {
    display: flex;
    flex-direction: column;
    border: solid 1px #afafaf;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px; 
    max-width: 900px; 
    max-height: 800px;
    background-color: #ffffff;     
    width: 100%;
    height: auto;
    margin-top: 70px;
  }
  
  @media (max-width: 767.98px) { 
    .container-form {
   
      max-width: 100%;
      max-height: auto; 
    }
  }
  